{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.email) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.roles) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.plainPassword) }}
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('admin_user_index') }}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar Usuário</button>
    </div>
{{ form_end(form) }}
